body.page-template-about {

	section.core-values {
		@include section-spacing(50, 50, 50, 100);
		text-align: center;

		h3 {
			padding-bottom: 0px;
			font-size: 2em;
			font-weight: 900;
			font-family: $circular;
		}

		h4 {
			padding-bottom: 20px;
			font-size: 1.75em;

		}

		ul {

			+ h4 {
				padding-top: 75px;
			}


			li {
				font-size: 1.25em;
				line-height: 1.25em;

				& + li {
					padding-top: 15px;
				}
			}

		}
	}

	section.general {
		@include section-spacing(50, 50, 100, 100);
		background: $off-white;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		section.story {
			width: 100%;

			@include tablet-portrait {
				width: calc(75% - 25px);
			}

			.headline {
				padding-bottom: 25px;
			}

			.copy {
				max-width: 720px;
			}


		}

		section.results {
			padding-top: 50px;

			width: 100%;
			font-family: $circular;

			@include tablet-portrait {
				width: calc(25% - 25px);
				padding-top: 0;
			}

			h5 {
				font-family: $circular;
				font-size: 1.25em;
				padding: 0 10px 15px 10px;
			}

			.tournament {
				& + .tournament {
					padding-top: 50px;
				}
			}

			article {
				display: flex;
				justify-content: space-between;
				width: 100%;
				padding: 15px 10px;

				& + article {
					border-top: 1px solid $light-gray;
				}
				

				&.first {
					background: $yellow;
					color: $white;
					border-top: 1px solid transparent;

					& + .first {
						border-top: 1px solid #AE8C29;
					}
				}

				p {
					font-size: 1em;
				}
			}
		}

	}

	footer {
		margin-top: 0;
	}


}