body.post-type-archive-video {
	
	.page-header {
		@include section-spacing(25, 50, 25, 100);
	}



	.gallery {
		& + .gallery {
			padding-top: 200px;
		}	

		.section-header {
			h2 {
				font-size: 2em;
				font-weight: 400;
			}
		}

		.gallery-wrapper {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 50px 25px;

			@include mobile-landscape {
				grid-template-columns: repeat(2, 1fr);
			}

			@include tablet-portrait {
				grid-template-columns: repeat(3, 1fr);
			}

		}
	}

	.video {
		a {
			display: block;
		}

		.photo {

		}

		.info {
			padding: 10px;
			text-align: center;

			h4 {
				font-size: 1em;
				font-family: $circular;
				font-weight: 500;
			}
		}
	}

}