body.post-type-archive-players {

	section#list {
		padding: 50px 0 0 0;

		.wrapper {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
			grid-gap: 75px;

			@include tablet-landscape {
				grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
			}
		}

		.player {
			.headshot {
				img {
					border-radius: 50%;
					max-width: 160px;
					margin: auto;

					@include tablet-landscape {
						max-width: 240px;
					}
				}
			}

			.info {
				padding: 10px 0 0 0;
				text-align: center;

				p {
					display: block;
					font-family: $circular;
					font-size: 0.875em;
					line-height: 1.25em;
					font-weight: 600;
					text-transform: uppercase;
					letter-spacing: 0.05em;

					.jersey-number {
						color: $red;
					}

					.title {
						display: block;
						font-weight: 400;
					}
				}
			}
		}

	}
	
}