footer {
	background: $slate;
	color: $white;
	margin-top: 100px;
	@include section-spacing(50, 50, 100, 100);

	.wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@include tablet-portrait {
			align-items: flex-start;
		}
	}

	.logo {
		width: 100%;

		@include tablet-portrait {
			width: auto;
		}

		a {
			display: block;
			
			img {
				margin: 0 auto;
				max-width: 80px;

				@include tablet-portrait {
					max-width: 120px;
				}
			}
		}

	}

	.footer-nav {
		width: 100%;
		text-align: center;
		padding: 50px 0;

		@include tablet-portrait {
			width: auto;
			padding: 0 0 0 100px;
			text-align: left;
		}


		.link {

			& + .link {
				padding-top: 15px;
			}

			a {
				color: $white;
				font-family: $circular;
				font-size: 1.25em;

				&:hover {
					text-decoration: underline;
				}
			}
		}

	}

	.social {
		width: 100%;
		display: flex;
		justify-content: center;

		@include tablet-portrait {
			width: auto;
			justify-content: flex-end;
		}

		a {
			background-position: 0 0;
		}
	}



}