header {
	.wrapper {
		display: grid;
		padding-top: 25px;
		padding-bottom: 25px;
		grid-template-areas: 
			"logo nav"
		    "headline headline"
		    "copy copy";


		@include mobile-landscape {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto;
			grid-template-areas: 
				"social logo nav"
			    "headline headline headline"
			    "copy copy copy";
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}

	.nav-toggle {
		grid-area: nav;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	    flex: 1;
	}

	#toggle {
		width: 40px;
	    cursor: pointer;
	    padding: 8px 0;
	    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	    z-index: 101;

		.patty {
		    width: 40px;
		    height: 4px;
		    background: $red;
		    border-radius: 2px;
		    transition: all 0.3s;
		    margin-left: auto;

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 40px;
			    height: 4px;
			    background: $red;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			    border-radius: 2px;
			}
			&:before {
			    top: -10px;
			}
			&:after {
			    top: 10px;
			}
		}
	}

	.logo {
		grid-area: logo;
		z-index: 101;
		position: relative;
		flex: 0 0 auto;


		@include mobile-landscape {
			display: flex;
			justify-content: center;
		}
		

		img {
			max-height: 96px;

			@include tablet-portrait {
				max-height: 139px;
			}
		}
	}

	&.open {

		#toggle .patty {
			background: none !important;
			height: 30px;

			&:after {
			    top: 10px;
			    transform: rotate(45deg);
			    background: $white;
			}
			&:before {
			    top: 10px;
			    transform: rotate(-45deg);
			    background: $white;
			}
		}

		.social {
			a {
				background-position: 0 0;
			}
		}
	}
}


nav {
	display: none;
	background: $slate;
	color: $white;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	a {
		color: $white;
	}

	.nav-wrapper {
		width: 100%;
		height: 100vh;
		padding: 121px 0 0 0;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;

		@include mobile-landscape {
			justify-content: flex-start;
			text-align: left;
			padding: 189px 0 0 0;
		}
	}

	.links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		text-align: center;
		width: 100%;
		padding: 50px 0 0 0;

		@include mobile-landscape {
			text-align: left;
		}


		@media screen and (max-width: 812px) and (max-height: 684px) {
			padding-top: 25px;
			flex-direction: row;
			justify-content: space-between;
			text-align: center;

			.link {
				width: 33.3333%;

				a {
					font-size: 1.25em !important;
				}
			}
			
		}

		@media screen and (max-height: 320px) {
			margin-top: -15px;
			padding-top: 0;

		}

		.link {
			a {
				font-family: $circular;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 1.25em;
				display: inline-block;
				padding: 10px 0;

				@include tablet-portrait {
					padding: 15px 0;
					font-size: 1.75em;
				}

				&:hover {
					color: $yellow;
				}

			}
		}
	}


}