body.home {

	header {
		background-color: #111;
		@include aspect-ratio(4, 3);
		min-height: 400px;
		max-height: 800px;

		@include mobile-landscape {
			@include aspect-ratio(8, 6);
		}

		@include tablet-landscape {
			@include aspect-ratio(16, 9);
		}

		#toggle {
			.patty {
			    background: $white;

				&:after, &:before {
				    background: $white;
				}

			}
		}

		.social {

			a {
				background-position: 0 0;
			}
		}

		.home-headline {
			grid-area: headline;
			text-align: center;
			padding: 50px 0 0 0;

			@include mobile-landscape {
				padding: 75px 0 0 0;
			}



			@include desktop {
				padding: 175px 0 0 0;
			}


			h1 {

				color: $white;
				letter-spacing: 0.05em;
				font-size: 2em;

				@include tablet-portrait {
					font-size: 3.25em;
				}

				@include desktop {
					font-size: 4em;
				}
			}
		}

		.copy {
			grid-area: copy;
			padding-top: 25px;
			width: 100%;
			max-width: 820px;
			margin: 0 auto;
			text-align: center;
			color: $white;

			p {
				font-size: 1em;
				line-height: 1.5em;
				font-family: $circular;

				@include tablet-portrait {
					font-size: 1.5em;
				}
			}
		}

	}

	section.video {
		background: #111;

		.wrapper {
			max-width: 960px;
			transform: translateY(-50px);

			@include tablet-portrait {
				transform: translateY(-100px);
			}

			@include desktop {
				max-width: 1200px;
			}
			
		}

		.videoWrapper {
			position: relative;
			width: 100%;
			height: 0;
			background-color: $black;
			padding-top: 56%;
		}

		.videoIframe {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: transparent;
			box-shadow: 0 0 16px rgba(0, 0, 0 , 0.25);
		}

		.videoPoster {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			cursor: pointer;
			border: 0;
			outline: none;
			background-position: 50% 50%;
			background-size: 100% 100%;
			background-size: cover;
			text-indent: -999em;
			overflow: hidden;
			opacity: 1;
			transition: opacity 800ms, height 0s;
			transition-delay: 0s, 0s;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 40px;
				height: 40px;
				margin: -20px 0 0 -20px;
				border: 3px solid $white;
				border-radius: 100%;
				transition: border-color 300ms;

				@include tablet-portrait {
					width: 80px;
					height: 80px;
					margin: -40px 0 0 -40px;
				}
			}

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 0;
				height: 0;
				margin: -7px 0 0 -3px;
				border-left: 16px solid #fff;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				transition: border-color 300ms;

				@include tablet-portrait {
					margin: -16px 0 0 -8px;
					border-left-width: 32px;
					border-top-width: 20px;
					border-bottom-width: 20px;
				}
			}

			&:hover,
			&:focus {
				&:before {
					border-color: $red;
				}

				&:after {
					border-left-color: $red;
				}
			}
		}

		.videoWrapperActive .videoPoster {
			opacity: 0;
			height: 0;
			transition-delay: 0s, 800ms;
		}

		.caption {
			padding-top: 15px;

			p {
				color: $white;
				font-family: $circular;
				opacity: 0.55;
				font-size: 0.875em;
				line-height: 1.25em;
				letter-spacing: 0.01em;

				@include tablet-portrait {
					text-align: right;
				}				
			}
		}
	}


	section.events {
		@include section-spacing(50, 50, 100, 100);

		.wrapper {
			max-width: 720px;
		}

		.events-tabs {
			.tab-links {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				border-bottom: 2px solid $yellow;
				border-left: 2px solid $yellow;

				@include mobile-landscape {
					border-bottom: 2px solid $yellow;
					border-left: none;
				}
				
				.tab-link {
					width: 33.3333%;	

					@include mobile-landscape {
						padding: 0 5px;
						width: auto;
					}

					a {
						font-family: $circular;
						font-weight: 700;
						font-size: 0.875em;
						letter-spacing: 0.05em;
						display: block;
						padding: 12px 20px;
						border-top: 2px solid $yellow;
						border-right: 2px solid $yellow;
						text-align: center;

						@include mobile-landscape {
							border: 2px solid $yellow;
							border-bottom: none;
						}

						&:hover,
						&.active {
							background: $yellow;
							color: $white;
						}
					}
				}
			}

			.tabs {
				padding-top: 50px;


			}
		}

		.event {
			text-align: center;

			& + .event {
				padding-top: 100px;
			}

			.headline {
				padding: 0 0 50px 0;

				h3 {
					font-weight: 600;
					font-size: 1.75em;
					letter-spacing: -0.02em;
					font-family: $circular;
					text-transform: uppercase;
					padding-bottom: 10px;
				}

				h4 {
					font-family: $circular;
					font-size: 1em;
					font-weight: 600;
				}
			}

			.copy {
				font-size: 1.125em;
				line-height: 2em;
				text-align: left;
				text-align: center;

				p + p {
					padding-top: 25px;
				}

				a {
					color: $yellow;
				}
			}
		}
	}


	section.latest {
		padding-top: 50px;

		.section-header {
			h2 {
				color: $red;
			}
		}

		.posts-wrapper {
			border: 1px solid $red;
			display: flex;
			flex-wrap: wrap;
		}

		article {
			width: 100%;

			& + article {
				border-top: 1px solid $red;

			}

			@include tablet-portrait {
				width: 33.3333%;

				& + article {
					border-top: none;
					border-left: 1px solid $red;

				}

			}	



			a {
				display: block;
				height: 100%;
				padding: 30px 30px;
				transition: all 0.2s ease-in;

				&:hover {
					background: $red;

					.meta h4,
					.headline h3,
					.author h4,
					.teaser p {
						color: $white;
					}
				}
			}

			.meta {
				padding-bottom: 10px;

				h4 {
					font-family: $circular;
					text-transform: uppercase;
					font-size: 0.8125em;
					letter-spacing: 0.05em;
					color: $red;
					transition: all 0.2s ease-in;
				}
			}

			.headline {
				h3 {
					font-weight: 400;
					font-size: 1.125em;
					line-height: 1.5em;
					transition: all 0.2s ease-in;
				}			
			}


			.author {
				padding-top: 10px;

				h4 {
					font-family: $circular;
					text-transform: uppercase;
					font-size: 0.8125em;
					letter-spacing: 0.05em;
					color: $mid-gray;
					transition: all 0.2s ease-in;
				}
			}

			.teaser {
				padding-top: 25px;

				p {
					font-size: 1em;
					line-height: 1.5em;
					transition: all 0.2s ease-in;
				}
			}
		}

		.more {
			padding-top: 50px;
			text-align: center;

			a {
				display: inline-block;
				font-family: $circular;
				color: $red;
				border-bottom: 2px solid;
				padding-bottom: 2px;
				font-size: 1.25em;
			}
		}

	}
}