body.blog {

	section.page-header {
		padding-bottom: 75px;
	}

	.posts-wrapper {
		border: 1px solid $red;
		display: flex;
		flex-wrap: wrap;
	}

	section.latest {
		width: 100%;

		@include tablet-portrait {
			width: 33.333%;
			order: 1;
			border-right: 1px solid $red;
		}

		.section-header {
			text-align: left;
			padding: 20px 30px;
			background: $red;
			border-bottom: 1px solid $red;

			h2 {
				color: $white;
				text-align: left;
				font-family: $circular;
				text-transform: uppercase;
				font-size: 0.875em;
				letter-spacing: 0.05em;
			}
		}


		article {			

			& + article {
				border-top: 1px solid $red;

			}

			a {
				display: block;
				padding: 30px 30px;
				transition: all 0.2s ease-in;

				&:hover {
					background: $red;

					.meta h4,
					.headline h3 {
						color: $white;
					}
				}
			}

			.meta {
				padding-bottom: 10px;

				h4 {
					font-family: $circular;
					text-transform: uppercase;
					font-size: 0.8125em;
					letter-spacing: 0.05em;
					color: $red;
					transition: all 0.2s ease-in;
				}
			}

			.headline {
				h3 {
					font-weight: 400;
					font-size: 1.125em;
					line-height: 1.5em;
					transition: all 0.2s ease-in;
				}			
			}
		}
	}

	section.featured {
		width: 100%;

		@include tablet-portrait {
			width: 66.6666%;
			order: 2;
		}

		.section-header {
			text-align: left;
			padding: 20px 30px;
			border-bottom: 1px solid $red;

			h2 {
				color: $red;
				text-align: left;
				font-family: $circular;
				text-transform: uppercase;
				font-size: 0.875em;
				letter-spacing: 0.05em;
			}
		}

		.featured-posts {
			padding: 30px 30px;
		}

		article {
			width: 100%;

			& + article {
				padding-top: 50px;
			}

			@include tablet-portrait {
				display: flex;
				justify-content: space-between;

			}

			@include tablet-landscape {
				&:nth-child(even) {
					.info {
						order: -1;
					}
				}
			}

			@include desktop {
				align-items: center;
			}

			.photo {
				padding-bottom: 20px;

				@include tablet-portrait {
					width: calc(30% - 15px);
				}

				@include tablet-landscape {
					width: calc(50% - 15px);
				}
			}

			.info {
				@include tablet-portrait {
					width: calc(70% - 15px);
				}

				@include tablet-landscape {
					width: calc(50% - 15px);
				}
			}

			.meta {
				padding-bottom: 10px;

				h4 {
					font-family: $circular;
					text-transform: uppercase;
					font-size: 0.8125em;
					letter-spacing: 0.05em;
					color: $red;
					transition: all 0.2s ease-in;
				}
			}

			.headline {
				h3 {
					font-weight: 600;

					a:hover {
						text-decoration: underline;
					}
				}
			}


			.author {
				padding-top: 10px;

				h4 {
					font-family: $circular;
					text-transform: uppercase;
					font-size: 0.8125em;
					letter-spacing: 0.05em;
					color: $mid-gray;
					transition: all 0.2s ease-in;
				}
			}

			.teaser {
				padding-top: 25px;

				p {
					font-size: 1em;
					line-height: 1.5em;
				}
			}
		}
	}




}