body.single-seasons {
	
	section.sub-nav {
		padding: 0 0 100px 0;

		.season-wrapper {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			border-top: 1px solid $red;
			border-left: 1px solid $red;

			@include mobile-landscape {
				grid-template-columns: repeat(5, 1fr);
			}

			@include tablet-portrait {
				grid-template-columns: repeat(8, 1fr);
			}

			@include tablet-landscape {
				grid-template-columns: repeat(10, 1fr);
			}
		}

		.season {
			text-align: center;
			border-bottom: 1px solid $red;
			border-right: 1px solid $red;
			border-collapse: collapse;

			a {
				font-weight: 500;
				padding: 12px 20px 10px;
				display: block;
				font-family: $circular;
				color: $slate;
				font-size: 0.875em;

				&:hover {
					background: $red;
					color: $white;
				}
			}
		}
	}

	@for $i from 2000 through 2030 {
		section.sub-nav.year-#{$i} .season-#{$i} a {
			background: $red;
			color: $white;
		}		
	}


	section#season {
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		#tournament-wrapper {
			width: 100%;

			@include tablet-portrait {
				width: 60%;
			}
		}	
		
		aside {
			width: 100%;
			padding: 50px 0 0 0;

			@include tablet-portrait {
				width: 30%;
				padding: 0;
			}

			h4 {
				font-size: 2.5em;
				padding: 0 0 10px 0;
				font-weight: 600;
			}

			p, li {
				font-size: 1em;
				line-height: 1em;
				font-family: $circular;
			}

			li {
				padding: 15px 2px;

				+ li {
					border-top: 1px solid $light-gray;
				}
			}
		}	
	}


	section.tournament {
		max-width: 600px;

		& + section.tournament {
			padding: 100px 0 0 0;
		}

		.info {
			h2 {
				font-size: 2.5em;
				padding: 0 0 5px 0;
				font-weight: 600;
			}

			h3 {
				letter-spacing: 0.02em;
				color: #aaa;
				font-weight: 500;
				font-size: 0.9375em;
				padding: 0 0 20px 0;
				font-family: $circular;

			}

			h4 {
				color: $red;
				font-weight: 500;
				font-size: 1.125em;
				padding: 0 0 20px 0;
				font-family: $circular;

			}

		}

		.games {
			.game {
				display: flex;
				width: 100%;
				padding: 15px 0;
				font-family: $circular;
				align-items: center;

				& + .game {
					border-top: 1px solid $light-gray;
				}

				.opponent {
					padding-right: 20px;
					font-weight: 600;
					text-align: right;
					flex: 1;

				}

				.score {
					padding: 7px 10px 7px 10px;
					color: $white;
					text-align: center;
					font-weight: 700;
					flex: 0 0 auto;

					&.win {
						background: $red;
					}


					&.loss {
						background: $blue;
					}

				}

				.type {
					padding-left: 20px;
					color: #aaa;
					font-size: 0.8125em;
					flex: 1;
				}
			}

		}
	}


}