body.single-opponents {


	section.page-header {
		padding-bottom: 50px;
	}

	.games {
		max-width: 640px;
		margin: 0 auto;
		min-height: 30vh;

		.game {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 15px 0;
			font-family: $circular;

			& + .game {
				border-top: 1px solid $light-gray;
			}

			.date {
				font-size: 0.875em;
				padding-right: 20px;
				font-weight: 500;
				text-align: right;
				flex: 1;
			}

			.score {
				padding: 7px 10px 7px 10px;
				color: $white;
				text-align: center;
				font-weight: 700;
				flex: 0 0 auto;

				&.win {
					background: $red;
				}


				&.loss {
					background: $blue;
				}

			}

			.tournament {
				padding-left: 20px;
				color: #aaa;
				font-size: 0.8125em;
				flex: 1;
			}
		}
	}

	.win-loss {
		text-align: center;
		padding: 50px 0 0 0;
		border-top: 2px solid $slate;
		max-width: 640px;
		margin: 75px auto 0 auto;

		h3 {
			letter-spacing: 0.02em;
			font-size: 2em;
			padding: 0 0 10px 0;
			font-weight: 900;
		}

		h2 {
			text-transform: uppercase;
			letter-spacing: -0.02em;
			font-size: 3.5em;
			font-weight: 400;
		}

		.note {
			padding: 20px 0 0 0;

			p {
				font-style: italic;
				color: $mid-gray;

			}
		}
	}

}