body.single-players {

	section.profile {

		section.page-header {
			padding-bottom: 50px;

			h1 {
				@include tablet-portrait {
					font-size: 4em;
				}

				.jersey-number {
					color: $red;
				}

				.title {
					padding-top: 10px;
					display: block;
					font-size: 0.4125em;
					font-weight: 300;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					color: $red;
					font-family: $circular;
				}
			}
		}

		section.info {

			.details {
				p {
					font-size: 1.25em;
					line-height: 1.125em;

					& + p {
						padding-top: 25px;
					}

					strong {
						font-family: $circular;
						font-weight: 900;
						font-size: 1.125em;
					}
				}
			}

			.bio {
				padding-top: 50px;

				h4 {
					font-family: $circular;
					padding-bottom: 15px;
				}

				p {
					font-size: 1.25em;
					line-height: 1.5em;

					& + p {
						padding-top: 25px;
					}
				}
			}

			@include tablet-portrait {
				display: flex;
				justify-content: space-between;

				.details {
					width: calc(33.3333% - 25px);
				}

				.bio {
					width: calc(66.6666% - 25px);
					padding-top: 0;
				}
			}
		}

		section.latest-blog {
			padding-top: 50px;
	
			@include tablet-portrait {
				padding-top: 100px;
			}

			.posts-header {
				padding-bottom: 15px;

				h4 {
					font-family: $circular;
				}
			}

			.posts-wrapper {
				border: 1px solid $red;
				display: flex;
				flex-wrap: wrap;
			}

			article {
				width: 100%;

				& + article {
					border-top: 1px solid $red;
				}



				@include tablet-portrait {
					width: 33.3333%;

					& + article {
						border-left: 1px solid $red;
						border-top: none;
					}

					&:nth-last-child(n+1):nth-last-child(-n+1):first-child,
					&:nth-last-child(n+1):nth-last-child(-n+1):first-child ~ article {
						border-right: 1px solid $red;
					}
				}	

				a {
					display: block;
					height: 100%;
					padding: 30px 30px;
					transition: all 0.2s ease-in;

					&:hover {
						background: $red;

						.meta h4,
						.headline h3,
						.author h4,
						.teaser p {
							color: $white;
						}
					}
				}

				.meta {
					padding-bottom: 10px;

					h4 {
						font-family: $circular;
						text-transform: uppercase;
						font-size: 0.8125em;
						letter-spacing: 0.05em;
						color: $red;
						transition: all 0.2s ease-in;
					}
				}

				.headline {
					h3 {
						font-weight: 400;
						font-size: 1.125em;
						line-height: 1.5em;
						transition: all 0.2s ease-in;
					}			
				}


				.author {
					padding-top: 10px;

					h4 {
						font-family: $circular;
						text-transform: uppercase;
						font-size: 0.8125em;
						letter-spacing: 0.05em;
						color: $mid-gray;
						transition: all 0.2s ease-in;
					}
				}

				.teaser {
					padding-top: 25px;

					p {
						font-size: 1em;
						line-height: 1.5em;
						transition: all 0.2s ease-in;
					}
				}
			}

			.more {
				padding-top: 50px;
				text-align: center;

				a {
					display: inline-block;
					font-family: $circular;
					color: $red;
					border-bottom: 2px solid;
					padding-bottom: 2px;
					font-size: 1.25em;
				}
			}

		}
	}


	aside.roster-list {
		padding-top: 50px;

		@include tablet-portrait {
			padding-top: 100px;
		}

		h4 {
			font-size: 2em;
			padding-bottom: 15px;
		}

		ul {
			@include mobile-landscape {
				columns: 2;
			}
			@include tablet-portrait {
				columns: 3;
			}
			@include tablet-landscape {
				columns: 4;
			}

			li {
				padding-bottom: 15px;
				break-inside: avoid;

				a {
					text-decoration: none;
					font-family: $circular;
					color: $slate;
					border-bottom: 2px solid transparent;
					padding-bottom: 2px;
					break-inside: avoid;

					.jersey-number {
						color: $red;
					}

					&:hover {
						border-bottom: 2px solid $red;
					}
				}
			}

		}

	}


}