body.single-post {

	section.page-header {
		padding-bottom: 75px;

		.date {
			padding-bottom: 25px;

			h4 {
				font-family: $circular;
				color: $red;
				font-size: 1em;
				text-transform: uppercase;
				letter-spacing: 0.02em;
			}
		}

		.headline {
			padding-bottom: 25px;
		}

		.author {
			h3 {
				font-size: 1.125em;
				font-weight: 600;
			}
		}
	}

	article {
		.wrapper {
			max-width: 720px;
		}

		blockquote {
			border-left: 5px solid $red;
			padding: 0 0 0 20px;
			margin: 40px 0 0 20px;

			p {
				font-family: $circular;

			}
		}

		.wp-caption {
			width: auto !important;
		}

		img {
			width: auto !important;
			height: auto !important;
			margin-top: 40px;

			&.aligncenter {
				margin-left: auto;
				margin-right: auto;
			}

		}

		.wp-caption-text {
			padding-top: 10px;
			font-family: $circular;
			font-size: 0.875em;
			color: $mid-gray;
		}
		

	}

}