body.page-template-sponsors {

	section#list {
		padding: 50px 0;

		.wrapper {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
			grid-gap: 25px 50px;
		}

		.sponsor {
			display: flex;
			align-items: center;
			a {
				display: block;
			}
		}
	}

	section#info {
		@include section-spacing(50, 50, 100, 100);
		background: $off-white;

		.wrapper {
			max-width: 720px;
		}



	}

	footer {
		margin: 0;
	}



}