body {
	background: $white;

	&.open {
		height: 100vh;
		overflow: hidden;
	}
}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}