html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $tiempos-headline;;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $tiempos-headline;
	font-weight: 900;
}

p {

}

a {
	color: $slate;
	transition: all 0.2s ease-in-out;
}

p, li {
	a {
		color: $red;
		text-decoration: underline;
	}
}



section.page-header {
	padding: 25px 0 25px 0;
	text-align: center;

	h1 {
		font-weight: 800;
		font-size: 2.5em;

		@include tablet-portrait {
			font-size: 5em;
		}
	}
}


.section-header {
	padding: 0 0 50px 0;
	text-align: center;

	h2 {
		font-weight: 800;
		font-size: 1.75em;

		@include tablet-portrait {
			font-size: 3em;
		}
	}
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}


h4 {
	font-size: 1.5em;
}


.copy {
	h4 {
		font-weight: 600;
		font-size: 1.25em;
		padding: 50px 0 5px 0;
	}

	* + p {
		padding-top: 25px;
	}

	&.p2 {
		p {
			font-size: 1.25em;
			line-height: 1.75em;
		}
	}

	&.extended {
		* + p {
			padding-top: 40px;
		}

		ul, ol {
			padding-top: 40px;
			padding-left: 50px;
			max-width: 90%;
			font-size: 1.125em;
			line-height: 1.75em;
		}

		ul {
			list-style-type: disc;
		}

		ol {
			list-style-type: decimal;
		}

		* + h2,
		* + h3 {
			padding-top: 80px;
		}

		h2 + *,
		h3 + * {
			padding-top: 10px;
		}

		li {
			& + li {
				padding-top: 25px;
			}
		}



	}
}
