/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #d9d9d9;
$mid-gray: #7B7977;
$charcoal: #424242;
$slate: #1a1a1a;
$black: #000;

$red: #BF1E2E;
$blue: #434758;
$yellow: #BF9B30;



/* Typography
----------------------------------*/
@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/TiemposHeadline-Light.woff2') format('woff2'),
        url('fonts/TiemposHeadline-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/TiemposHeadline-Regular.woff2') format('woff2'),
        url('fonts/TiemposHeadline-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/TiemposHeadline-Semibold.woff2') format('woff2'),
        url('fonts/TiemposHeadline-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/TiemposHeadline-Black.woff2') format('woff2'),
        url('fonts/TiemposHeadline-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Medium.woff2') format('woff2'),
        url('fonts/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Bold.woff2') format('woff2'),
        url('fonts/CircularStd-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Black.woff2') format('woff2'),
        url('fonts/CircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}




$garamond: "adobe-garamond-pro", serif;
$din: "din-2014",sans-serif;
$circular: 'CircularStd', sans-serif;
$tiempos-headline: 'Tiempos Headline', serif;


