/*

    Theme Name: Seattle Riot
    Theme URI: http://seattleriot.org/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 2.0 of Seattle Riot
    Version: 2.0

*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@font-face {
  font-family: 'Tiempos Headline';
  src: url("fonts/TiemposHeadline-Light.woff2") format("woff2"), url("fonts/TiemposHeadline-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Tiempos Headline';
  src: url("fonts/TiemposHeadline-Regular.woff2") format("woff2"), url("fonts/TiemposHeadline-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Tiempos Headline';
  src: url("fonts/TiemposHeadline-Semibold.woff2") format("woff2"), url("fonts/TiemposHeadline-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Tiempos Headline';
  src: url("fonts/TiemposHeadline-Black.woff2") format("woff2"), url("fonts/TiemposHeadline-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'CircularStd';
  src: url("fonts/CircularStd-Medium.woff2") format("woff2"), url("fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'CircularStd';
  src: url("fonts/CircularStd-Bold.woff2") format("woff2"), url("fonts/CircularStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'CircularStd';
  src: url("fonts/CircularStd-Black.woff2") format("woff2"), url("fonts/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

/* Media Queries
----------------------------------*/
/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Selection  */
::-moz-selection {
  background: #BF9B30;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #BF9B30;
  color: #fff;
  text-shadow: none; }

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* Border-Box */
* {
  box-sizing: border-box; }

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

html, input, textarea {
  -webkit-font-smoothing: antialiased; }

body {
  text-rendering: optimizeLegibility; }

body, input, textarea, button {
  color: #1a1a1a;
  font: 400 100%/1 "Tiempos Headline", serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tiempos Headline", serif;
  font-weight: 900; }

a {
  color: #1a1a1a;
  transition: all 0.2s ease-in-out; }

p a, li a {
  color: #BF1E2E;
  text-decoration: underline; }

section.page-header {
  padding: 25px 0 25px 0;
  text-align: center; }
  section.page-header h1 {
    font-weight: 800;
    font-size: 2.5em; }
    @media screen and (min-width: 768px) {
      section.page-header h1 {
        font-size: 5em; } }

.section-header {
  padding: 0 0 50px 0;
  text-align: center; }
  .section-header h2 {
    font-weight: 800;
    font-size: 1.75em; }
    @media screen and (min-width: 768px) {
      .section-header h2 {
        font-size: 3em; } }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

.copy h4 {
  font-weight: 600;
  font-size: 1.25em;
  padding: 50px 0 5px 0; }

.copy * + p {
  padding-top: 25px; }

.copy.p2 p {
  font-size: 1.25em;
  line-height: 1.75em; }

.copy.extended * + p {
  padding-top: 40px; }

.copy.extended ul, .copy.extended ol {
  padding-top: 40px;
  padding-left: 50px;
  max-width: 90%;
  font-size: 1.125em;
  line-height: 1.75em; }

.copy.extended ul {
  list-style-type: disc; }

.copy.extended ol {
  list-style-type: decimal; }

.copy.extended * + h2,
.copy.extended * + h3 {
  padding-top: 80px; }

.copy.extended h2 + *,
.copy.extended h3 + * {
  padding-top: 10px; }

.copy.extended li + li {
  padding-top: 25px; }

body {
  background: #fff; }
  body.open {
    height: 100vh;
    overflow: hidden; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 1250px) {
    .wrapper {
      padding: 0; } }

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-slide:active, .slick-slide:focus {
  outline: none; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  width: 15px;
  height: 30px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: -55px;
  padding: 0;
  border: none;
  z-index: 100;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 1; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 50px; }
  .slick-prev:before {
    background: url(images/right-arrow-blue.svg) no-repeat 0 0;
    background-size: 100%;
    width: 15px;
    height: 30px;
    content: '';
    display: block;
    transform: rotate(180deg); }

.slick-next {
  right: 50px; }
  .slick-next:before {
    background: url(images/right-arrow-blue.svg) no-repeat 0 0;
    background-size: 100%;
    width: 15px;
    height: 30px;
    content: '';
    display: block; }

/* Dots */
.slick-dots {
  position: absolute;
  top: -50px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 10; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 12px;
      width: 12px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 6px;
        height: 6px;
        line-height: 20px;
        text-align: center;
        background: #7B7977;
        border-radius: 50%; }
    .slick-dots li.slick-active button:before {
      background: #424242; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
header .wrapper {
  display: grid;
  padding-top: 25px;
  padding-bottom: 25px;
  grid-template-areas: "logo nav" "headline headline" "copy copy"; }
  @media screen and (min-width: 568px) {
    header .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "social logo nav" "headline headline headline" "copy copy copy";
      padding-top: 50px;
      padding-bottom: 50px; } }

header .nav-toggle {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1; }

header #toggle {
  width: 40px;
  cursor: pointer;
  padding: 8px 0;
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  z-index: 101; }
  header #toggle .patty {
    width: 40px;
    height: 4px;
    background: #BF1E2E;
    border-radius: 2px;
    transition: all 0.3s;
    margin-left: auto; }
    header #toggle .patty:after, header #toggle .patty:before {
      content: '';
      display: block;
      width: 40px;
      height: 4px;
      background: #BF1E2E;
      position: absolute;
      z-index: 1;
      transition: all 0.3s;
      border-radius: 2px; }
    header #toggle .patty:before {
      top: -10px; }
    header #toggle .patty:after {
      top: 10px; }

header .logo {
  grid-area: logo;
  z-index: 101;
  position: relative;
  flex: 0 0 auto; }
  @media screen and (min-width: 568px) {
    header .logo {
      display: flex;
      justify-content: center; } }
  header .logo img {
    max-height: 96px; }
    @media screen and (min-width: 768px) {
      header .logo img {
        max-height: 139px; } }

header.open #toggle .patty {
  background: none !important;
  height: 30px; }
  header.open #toggle .patty:after {
    top: 10px;
    transform: rotate(45deg);
    background: #fff; }
  header.open #toggle .patty:before {
    top: 10px;
    transform: rotate(-45deg);
    background: #fff; }

header.open .social a {
  background-position: 0 0; }

nav {
  display: none;
  background: #1a1a1a;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  nav a {
    color: #fff; }
  nav .nav-wrapper {
    width: 100%;
    height: 100vh;
    padding: 121px 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
    @media screen and (min-width: 568px) {
      nav .nav-wrapper {
        justify-content: flex-start;
        text-align: left;
        padding: 189px 0 0 0; } }
  nav .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 50px 0 0 0; }
    @media screen and (min-width: 568px) {
      nav .links {
        text-align: left; } }
    @media screen and (max-width: 812px) and (max-height: 684px) {
      nav .links {
        padding-top: 25px;
        flex-direction: row;
        justify-content: space-between;
        text-align: center; }
        nav .links .link {
          width: 33.3333%; }
          nav .links .link a {
            font-size: 1.25em !important; } }
    @media screen and (max-height: 320px) {
      nav .links {
        margin-top: -15px;
        padding-top: 0; } }
    nav .links .link a {
      font-family: "CircularStd", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 1.25em;
      display: inline-block;
      padding: 10px 0; }
      @media screen and (min-width: 768px) {
        nav .links .link a {
          padding: 15px 0;
          font-size: 1.75em; } }
      nav .links .link a:hover {
        color: #BF9B30; }

footer {
  background: #1a1a1a;
  color: #fff;
  margin-top: 100px;
  padding: 50px 0 50px 0; }
  @media screen and (min-width: 768px) {
    footer {
      padding: 100px 0 100px 0; } }
  footer .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media screen and (min-width: 768px) {
      footer .wrapper {
        align-items: flex-start; } }
  footer .logo {
    width: 100%; }
    @media screen and (min-width: 768px) {
      footer .logo {
        width: auto; } }
    footer .logo a {
      display: block; }
      footer .logo a img {
        margin: 0 auto;
        max-width: 80px; }
        @media screen and (min-width: 768px) {
          footer .logo a img {
            max-width: 120px; } }
  footer .footer-nav {
    width: 100%;
    text-align: center;
    padding: 50px 0; }
    @media screen and (min-width: 768px) {
      footer .footer-nav {
        width: auto;
        padding: 0 0 0 100px;
        text-align: left; } }
    footer .footer-nav .link + .link {
      padding-top: 15px; }
    footer .footer-nav .link a {
      color: #fff;
      font-family: "CircularStd", sans-serif;
      font-size: 1.25em; }
      footer .footer-nav .link a:hover {
        text-decoration: underline; }
  footer .social {
    width: 100%;
    display: flex;
    justify-content: center; }
    @media screen and (min-width: 768px) {
      footer .social {
        width: auto;
        justify-content: flex-end; } }
    footer .social a {
      background-position: 0 0; }

/*

    ----------------------------------------------------------------------
                               03 Partials
    ----------------------------------------------------------------------

*/
.social {
  grid-area: social;
  display: flex;
  align-items: center;
  display: none;
  z-index: 101;
  flex: 1; }
  @media screen and (min-width: 568px) {
    .social {
      display: flex; } }
  .social a + a {
    margin-left: 30px; }
  .social a {
    background-position: 0 -24px;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    transition: none;
    height: 24px; }
    .social a.facebook {
      background-image: url(images/facebook-sprite.svg);
      width: 13px; }
    .social a.twitter {
      background-image: url(images/twitter-sprite.svg);
      width: 30px; }
    .social a.instagram {
      background-image: url(images/instagram-sprite.svg);
      width: 24px; }

section#video-overlay {
  display: none; }
  section#video-overlay .overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100000;
    background: rgba(255, 255, 255, 0.9); }
    section#video-overlay .overlay-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      padding: 20px; }
      @media screen and (min-width: 768px) {
        section#video-overlay .overlay-wrapper {
          padding: 80px 20px; } }
  section#video-overlay .close {
    position: absolute;
    top: -40px;
    right: 0;
    z-index: 10; }
    @media screen and (min-width: 1024px) {
      section#video-overlay .close {
        right: -40px; } }
    section#video-overlay .close .video-close-btn {
      display: block;
      width: 36px; }
      section#video-overlay .close .video-close-btn:before, section#video-overlay .close .video-close-btn:after {
        background-color: #BF1E2E;
        content: '';
        display: block;
        height: 4px;
        transition: all 200ms ease-in-out; }
      section#video-overlay .close .video-close-btn:before {
        box-shadow: 0 0 0 #BF1E2E;
        transform: translateY(11px) rotate(45deg);
        margin-bottom: 18px; }
      section#video-overlay .close .video-close-btn:after {
        transform: translateY(-11px) rotate(-45deg); }
  section#video-overlay .info {
    width: 100%;
    max-width: 1200px; }
  section#video-overlay .video-frame {
    position: relative;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
    background: #000; }
    section#video-overlay .video-frame:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 56.25%; }
    section#video-overlay .video-frame > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }

body.video-overlay-open {
  overflow: hidden; }

/*

    ----------------------------------------------------------------------
                                04 Templates
    ----------------------------------------------------------------------

*/
body.home header {
  background-color: #111;
  position: relative;
  min-height: 400px;
  max-height: 800px; }
  body.home header:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 75%; }
  body.home header > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  @media screen and (min-width: 568px) {
    body.home header {
      position: relative; }
      body.home header:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 75%; }
      body.home header > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  @media screen and (min-width: 1024px) {
    body.home header {
      position: relative; }
      body.home header:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 56.25%; }
      body.home header > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  body.home header #toggle .patty {
    background: #fff; }
    body.home header #toggle .patty:after, body.home header #toggle .patty:before {
      background: #fff; }
  body.home header .social a {
    background-position: 0 0; }
  body.home header .home-headline {
    grid-area: headline;
    text-align: center;
    padding: 50px 0 0 0; }
    @media screen and (min-width: 568px) {
      body.home header .home-headline {
        padding: 75px 0 0 0; } }
    @media screen and (min-width: 1280px) {
      body.home header .home-headline {
        padding: 175px 0 0 0; } }
    body.home header .home-headline h1 {
      color: #fff;
      letter-spacing: 0.05em;
      font-size: 2em; }
      @media screen and (min-width: 768px) {
        body.home header .home-headline h1 {
          font-size: 3.25em; } }
      @media screen and (min-width: 1280px) {
        body.home header .home-headline h1 {
          font-size: 4em; } }
  body.home header .copy {
    grid-area: copy;
    padding-top: 25px;
    width: 100%;
    max-width: 820px;
    margin: 0 auto;
    text-align: center;
    color: #fff; }
    body.home header .copy p {
      font-size: 1em;
      line-height: 1.5em;
      font-family: "CircularStd", sans-serif; }
      @media screen and (min-width: 768px) {
        body.home header .copy p {
          font-size: 1.5em; } }

body.home section.video {
  background: #111; }
  body.home section.video .wrapper {
    max-width: 960px;
    transform: translateY(-50px); }
    @media screen and (min-width: 768px) {
      body.home section.video .wrapper {
        transform: translateY(-100px); } }
    @media screen and (min-width: 1280px) {
      body.home section.video .wrapper {
        max-width: 1200px; } }
  body.home section.video .videoWrapper {
    position: relative;
    width: 100%;
    height: 0;
    background-color: #000;
    padding-top: 56%; }
  body.home section.video .videoIframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25); }
  body.home section.video .videoPoster {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    outline: none;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-size: cover;
    text-indent: -999em;
    overflow: hidden;
    opacity: 1;
    transition: opacity 800ms, height 0s;
    transition-delay: 0s, 0s; }
    body.home section.video .videoPoster:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      margin: -20px 0 0 -20px;
      border: 3px solid #fff;
      border-radius: 100%;
      transition: border-color 300ms; }
      @media screen and (min-width: 768px) {
        body.home section.video .videoPoster:before {
          width: 80px;
          height: 80px;
          margin: -40px 0 0 -40px; } }
    body.home section.video .videoPoster:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      margin: -7px 0 0 -3px;
      border-left: 16px solid #fff;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      transition: border-color 300ms; }
      @media screen and (min-width: 768px) {
        body.home section.video .videoPoster:after {
          margin: -16px 0 0 -8px;
          border-left-width: 32px;
          border-top-width: 20px;
          border-bottom-width: 20px; } }
    body.home section.video .videoPoster:hover:before, body.home section.video .videoPoster:focus:before {
      border-color: #BF1E2E; }
    body.home section.video .videoPoster:hover:after, body.home section.video .videoPoster:focus:after {
      border-left-color: #BF1E2E; }
  body.home section.video .videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    transition-delay: 0s, 800ms; }
  body.home section.video .caption {
    padding-top: 15px; }
    body.home section.video .caption p {
      color: #fff;
      font-family: "CircularStd", sans-serif;
      opacity: 0.55;
      font-size: 0.875em;
      line-height: 1.25em;
      letter-spacing: 0.01em; }
      @media screen and (min-width: 768px) {
        body.home section.video .caption p {
          text-align: right; } }

body.home section.events {
  padding: 50px 0 50px 0; }
  @media screen and (min-width: 768px) {
    body.home section.events {
      padding: 100px 0 100px 0; } }
  body.home section.events .wrapper {
    max-width: 720px; }
  body.home section.events .events-tabs .tab-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #BF9B30;
    border-left: 2px solid #BF9B30; }
    @media screen and (min-width: 568px) {
      body.home section.events .events-tabs .tab-links {
        border-bottom: 2px solid #BF9B30;
        border-left: none; } }
    body.home section.events .events-tabs .tab-links .tab-link {
      width: 33.3333%; }
      @media screen and (min-width: 568px) {
        body.home section.events .events-tabs .tab-links .tab-link {
          padding: 0 5px;
          width: auto; } }
      body.home section.events .events-tabs .tab-links .tab-link a {
        font-family: "CircularStd", sans-serif;
        font-weight: 700;
        font-size: 0.875em;
        letter-spacing: 0.05em;
        display: block;
        padding: 12px 20px;
        border-top: 2px solid #BF9B30;
        border-right: 2px solid #BF9B30;
        text-align: center; }
        @media screen and (min-width: 568px) {
          body.home section.events .events-tabs .tab-links .tab-link a {
            border: 2px solid #BF9B30;
            border-bottom: none; } }
        body.home section.events .events-tabs .tab-links .tab-link a:hover, body.home section.events .events-tabs .tab-links .tab-link a.active {
          background: #BF9B30;
          color: #fff; }
  body.home section.events .events-tabs .tabs {
    padding-top: 50px; }
  body.home section.events .event {
    text-align: center; }
    body.home section.events .event + .event {
      padding-top: 100px; }
    body.home section.events .event .headline {
      padding: 0 0 50px 0; }
      body.home section.events .event .headline h3 {
        font-weight: 600;
        font-size: 1.75em;
        letter-spacing: -0.02em;
        font-family: "CircularStd", sans-serif;
        text-transform: uppercase;
        padding-bottom: 10px; }
      body.home section.events .event .headline h4 {
        font-family: "CircularStd", sans-serif;
        font-size: 1em;
        font-weight: 600; }
    body.home section.events .event .copy {
      font-size: 1.125em;
      line-height: 2em;
      text-align: left;
      text-align: center; }
      body.home section.events .event .copy p + p {
        padding-top: 25px; }
      body.home section.events .event .copy a {
        color: #BF9B30; }

body.home section.latest {
  padding-top: 50px; }
  body.home section.latest .section-header h2 {
    color: #BF1E2E; }
  body.home section.latest .posts-wrapper {
    border: 1px solid #BF1E2E;
    display: flex;
    flex-wrap: wrap; }
  body.home section.latest article {
    width: 100%; }
    body.home section.latest article + article {
      border-top: 1px solid #BF1E2E; }
    @media screen and (min-width: 768px) {
      body.home section.latest article {
        width: 33.3333%; }
        body.home section.latest article + article {
          border-top: none;
          border-left: 1px solid #BF1E2E; } }
    body.home section.latest article a {
      display: block;
      height: 100%;
      padding: 30px 30px;
      transition: all 0.2s ease-in; }
      body.home section.latest article a:hover {
        background: #BF1E2E; }
        body.home section.latest article a:hover .meta h4,
        body.home section.latest article a:hover .headline h3,
        body.home section.latest article a:hover .author h4,
        body.home section.latest article a:hover .teaser p {
          color: #fff; }
    body.home section.latest article .meta {
      padding-bottom: 10px; }
      body.home section.latest article .meta h4 {
        font-family: "CircularStd", sans-serif;
        text-transform: uppercase;
        font-size: 0.8125em;
        letter-spacing: 0.05em;
        color: #BF1E2E;
        transition: all 0.2s ease-in; }
    body.home section.latest article .headline h3 {
      font-weight: 400;
      font-size: 1.125em;
      line-height: 1.5em;
      transition: all 0.2s ease-in; }
    body.home section.latest article .author {
      padding-top: 10px; }
      body.home section.latest article .author h4 {
        font-family: "CircularStd", sans-serif;
        text-transform: uppercase;
        font-size: 0.8125em;
        letter-spacing: 0.05em;
        color: #7B7977;
        transition: all 0.2s ease-in; }
    body.home section.latest article .teaser {
      padding-top: 25px; }
      body.home section.latest article .teaser p {
        font-size: 1em;
        line-height: 1.5em;
        transition: all 0.2s ease-in; }
  body.home section.latest .more {
    padding-top: 50px;
    text-align: center; }
    body.home section.latest .more a {
      display: inline-block;
      font-family: "CircularStd", sans-serif;
      color: #BF1E2E;
      border-bottom: 2px solid;
      padding-bottom: 2px;
      font-size: 1.25em; }

body.page-template-about section.core-values {
  padding: 50px 0 50px 0;
  text-align: center; }
  @media screen and (min-width: 768px) {
    body.page-template-about section.core-values {
      padding: 50px 0 100px 0; } }
  body.page-template-about section.core-values h3 {
    padding-bottom: 0px;
    font-size: 2em;
    font-weight: 900;
    font-family: "CircularStd", sans-serif; }
  body.page-template-about section.core-values h4 {
    padding-bottom: 20px;
    font-size: 1.75em; }
  body.page-template-about section.core-values ul + h4 {
    padding-top: 75px; }
  body.page-template-about section.core-values ul li {
    font-size: 1.25em;
    line-height: 1.25em; }
    body.page-template-about section.core-values ul li + li {
      padding-top: 15px; }

body.page-template-about section.general {
  padding: 50px 0 50px 0;
  background: #fafafa; }
  @media screen and (min-width: 768px) {
    body.page-template-about section.general {
      padding: 100px 0 100px 0; } }
  body.page-template-about section.general .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  body.page-template-about section.general section.story {
    width: 100%; }
    @media screen and (min-width: 768px) {
      body.page-template-about section.general section.story {
        width: calc(75% - 25px); } }
    body.page-template-about section.general section.story .headline {
      padding-bottom: 25px; }
    body.page-template-about section.general section.story .copy {
      max-width: 720px; }
  body.page-template-about section.general section.results {
    padding-top: 50px;
    width: 100%;
    font-family: "CircularStd", sans-serif; }
    @media screen and (min-width: 768px) {
      body.page-template-about section.general section.results {
        width: calc(25% - 25px);
        padding-top: 0; } }
    body.page-template-about section.general section.results h5 {
      font-family: "CircularStd", sans-serif;
      font-size: 1.25em;
      padding: 0 10px 15px 10px; }
    body.page-template-about section.general section.results .tournament + .tournament {
      padding-top: 50px; }
    body.page-template-about section.general section.results article {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 15px 10px; }
      body.page-template-about section.general section.results article + article {
        border-top: 1px solid #d9d9d9; }
      body.page-template-about section.general section.results article.first {
        background: #BF9B30;
        color: #fff;
        border-top: 1px solid transparent; }
        body.page-template-about section.general section.results article.first + .first {
          border-top: 1px solid #AE8C29; }
      body.page-template-about section.general section.results article p {
        font-size: 1em; }

body.page-template-about footer {
  margin-top: 0; }

body.page-template-sponsors section#list {
  padding: 50px 0; }
  body.page-template-sponsors section#list .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 25px 50px; }
  body.page-template-sponsors section#list .sponsor {
    display: flex;
    align-items: center; }
    body.page-template-sponsors section#list .sponsor a {
      display: block; }

body.page-template-sponsors section#info {
  padding: 50px 0 50px 0;
  background: #fafafa; }
  @media screen and (min-width: 768px) {
    body.page-template-sponsors section#info {
      padding: 100px 0 100px 0; } }
  body.page-template-sponsors section#info .wrapper {
    max-width: 720px; }

body.page-template-sponsors footer {
  margin: 0; }

body.blog section.page-header {
  padding-bottom: 75px; }

body.blog .posts-wrapper {
  border: 1px solid #BF1E2E;
  display: flex;
  flex-wrap: wrap; }

body.blog section.latest {
  width: 100%; }
  @media screen and (min-width: 768px) {
    body.blog section.latest {
      width: 33.333%;
      order: 1;
      border-right: 1px solid #BF1E2E; } }
  body.blog section.latest .section-header {
    text-align: left;
    padding: 20px 30px;
    background: #BF1E2E;
    border-bottom: 1px solid #BF1E2E; }
    body.blog section.latest .section-header h2 {
      color: #fff;
      text-align: left;
      font-family: "CircularStd", sans-serif;
      text-transform: uppercase;
      font-size: 0.875em;
      letter-spacing: 0.05em; }
  body.blog section.latest article + article {
    border-top: 1px solid #BF1E2E; }
  body.blog section.latest article a {
    display: block;
    padding: 30px 30px;
    transition: all 0.2s ease-in; }
    body.blog section.latest article a:hover {
      background: #BF1E2E; }
      body.blog section.latest article a:hover .meta h4,
      body.blog section.latest article a:hover .headline h3 {
        color: #fff; }
  body.blog section.latest article .meta {
    padding-bottom: 10px; }
    body.blog section.latest article .meta h4 {
      font-family: "CircularStd", sans-serif;
      text-transform: uppercase;
      font-size: 0.8125em;
      letter-spacing: 0.05em;
      color: #BF1E2E;
      transition: all 0.2s ease-in; }
  body.blog section.latest article .headline h3 {
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.5em;
    transition: all 0.2s ease-in; }

body.blog section.featured {
  width: 100%; }
  @media screen and (min-width: 768px) {
    body.blog section.featured {
      width: 66.6666%;
      order: 2; } }
  body.blog section.featured .section-header {
    text-align: left;
    padding: 20px 30px;
    border-bottom: 1px solid #BF1E2E; }
    body.blog section.featured .section-header h2 {
      color: #BF1E2E;
      text-align: left;
      font-family: "CircularStd", sans-serif;
      text-transform: uppercase;
      font-size: 0.875em;
      letter-spacing: 0.05em; }
  body.blog section.featured .featured-posts {
    padding: 30px 30px; }
  body.blog section.featured article {
    width: 100%; }
    body.blog section.featured article + article {
      padding-top: 50px; }
    @media screen and (min-width: 768px) {
      body.blog section.featured article {
        display: flex;
        justify-content: space-between; } }
    @media screen and (min-width: 1024px) {
      body.blog section.featured article:nth-child(even) .info {
        order: -1; } }
    @media screen and (min-width: 1280px) {
      body.blog section.featured article {
        align-items: center; } }
    body.blog section.featured article .photo {
      padding-bottom: 20px; }
      @media screen and (min-width: 768px) {
        body.blog section.featured article .photo {
          width: calc(30% - 15px); } }
      @media screen and (min-width: 1024px) {
        body.blog section.featured article .photo {
          width: calc(50% - 15px); } }
    @media screen and (min-width: 768px) {
      body.blog section.featured article .info {
        width: calc(70% - 15px); } }
    @media screen and (min-width: 1024px) {
      body.blog section.featured article .info {
        width: calc(50% - 15px); } }
    body.blog section.featured article .meta {
      padding-bottom: 10px; }
      body.blog section.featured article .meta h4 {
        font-family: "CircularStd", sans-serif;
        text-transform: uppercase;
        font-size: 0.8125em;
        letter-spacing: 0.05em;
        color: #BF1E2E;
        transition: all 0.2s ease-in; }
    body.blog section.featured article .headline h3 {
      font-weight: 600; }
      body.blog section.featured article .headline h3 a:hover {
        text-decoration: underline; }
    body.blog section.featured article .author {
      padding-top: 10px; }
      body.blog section.featured article .author h4 {
        font-family: "CircularStd", sans-serif;
        text-transform: uppercase;
        font-size: 0.8125em;
        letter-spacing: 0.05em;
        color: #7B7977;
        transition: all 0.2s ease-in; }
    body.blog section.featured article .teaser {
      padding-top: 25px; }
      body.blog section.featured article .teaser p {
        font-size: 1em;
        line-height: 1.5em; }

body.post-type-archive-players section#list {
  padding: 50px 0 0 0; }
  body.post-type-archive-players section#list .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 75px; }
    @media screen and (min-width: 1024px) {
      body.post-type-archive-players section#list .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); } }
  body.post-type-archive-players section#list .player .headshot img {
    border-radius: 50%;
    max-width: 160px;
    margin: auto; }
    @media screen and (min-width: 1024px) {
      body.post-type-archive-players section#list .player .headshot img {
        max-width: 240px; } }
  body.post-type-archive-players section#list .player .info {
    padding: 10px 0 0 0;
    text-align: center; }
    body.post-type-archive-players section#list .player .info p {
      display: block;
      font-family: "CircularStd", sans-serif;
      font-size: 0.875em;
      line-height: 1.25em;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.05em; }
      body.post-type-archive-players section#list .player .info p .jersey-number {
        color: #BF1E2E; }
      body.post-type-archive-players section#list .player .info p .title {
        display: block;
        font-weight: 400; }

body.single-seasons section.sub-nav {
  padding: 0 0 100px 0; }
  body.single-seasons section.sub-nav .season-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid #BF1E2E;
    border-left: 1px solid #BF1E2E; }
    @media screen and (min-width: 568px) {
      body.single-seasons section.sub-nav .season-wrapper {
        grid-template-columns: repeat(5, 1fr); } }
    @media screen and (min-width: 768px) {
      body.single-seasons section.sub-nav .season-wrapper {
        grid-template-columns: repeat(8, 1fr); } }
    @media screen and (min-width: 1024px) {
      body.single-seasons section.sub-nav .season-wrapper {
        grid-template-columns: repeat(10, 1fr); } }
  body.single-seasons section.sub-nav .season {
    text-align: center;
    border-bottom: 1px solid #BF1E2E;
    border-right: 1px solid #BF1E2E;
    border-collapse: collapse; }
    body.single-seasons section.sub-nav .season a {
      font-weight: 500;
      padding: 12px 20px 10px;
      display: block;
      font-family: "CircularStd", sans-serif;
      color: #1a1a1a;
      font-size: 0.875em; }
      body.single-seasons section.sub-nav .season a:hover {
        background: #BF1E2E;
        color: #fff; }

body.single-seasons section.sub-nav.year-2000 .season-2000 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2001 .season-2001 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2002 .season-2002 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2003 .season-2003 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2004 .season-2004 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2005 .season-2005 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2006 .season-2006 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2007 .season-2007 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2008 .season-2008 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2009 .season-2009 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2010 .season-2010 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2011 .season-2011 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2012 .season-2012 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2013 .season-2013 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2014 .season-2014 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2015 .season-2015 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2016 .season-2016 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2017 .season-2017 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2018 .season-2018 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2019 .season-2019 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2020 .season-2020 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2021 .season-2021 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2022 .season-2022 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2023 .season-2023 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2024 .season-2024 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2025 .season-2025 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2026 .season-2026 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2027 .season-2027 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2028 .season-2028 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2029 .season-2029 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section.sub-nav.year-2030 .season-2030 a {
  background: #BF1E2E;
  color: #fff; }

body.single-seasons section#season .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

body.single-seasons section#season #tournament-wrapper {
  width: 100%; }
  @media screen and (min-width: 768px) {
    body.single-seasons section#season #tournament-wrapper {
      width: 60%; } }

body.single-seasons section#season aside {
  width: 100%;
  padding: 50px 0 0 0; }
  @media screen and (min-width: 768px) {
    body.single-seasons section#season aside {
      width: 30%;
      padding: 0; } }
  body.single-seasons section#season aside h4 {
    font-size: 2.5em;
    padding: 0 0 10px 0;
    font-weight: 600; }
  body.single-seasons section#season aside p, body.single-seasons section#season aside li {
    font-size: 1em;
    line-height: 1em;
    font-family: "CircularStd", sans-serif; }
  body.single-seasons section#season aside li {
    padding: 15px 2px; }
    body.single-seasons section#season aside li + li {
      border-top: 1px solid #d9d9d9; }

body.single-seasons section.tournament {
  max-width: 600px; }
  body.single-seasons section.tournament + section.tournament {
    padding: 100px 0 0 0; }
  body.single-seasons section.tournament .info h2 {
    font-size: 2.5em;
    padding: 0 0 5px 0;
    font-weight: 600; }
  body.single-seasons section.tournament .info h3 {
    letter-spacing: 0.02em;
    color: #aaa;
    font-weight: 500;
    font-size: 0.9375em;
    padding: 0 0 20px 0;
    font-family: "CircularStd", sans-serif; }
  body.single-seasons section.tournament .info h4 {
    color: #BF1E2E;
    font-weight: 500;
    font-size: 1.125em;
    padding: 0 0 20px 0;
    font-family: "CircularStd", sans-serif; }
  body.single-seasons section.tournament .games .game {
    display: flex;
    width: 100%;
    padding: 15px 0;
    font-family: "CircularStd", sans-serif;
    align-items: center; }
    body.single-seasons section.tournament .games .game + .game {
      border-top: 1px solid #d9d9d9; }
    body.single-seasons section.tournament .games .game .opponent {
      padding-right: 20px;
      font-weight: 600;
      text-align: right;
      flex: 1; }
    body.single-seasons section.tournament .games .game .score {
      padding: 7px 10px 7px 10px;
      color: #fff;
      text-align: center;
      font-weight: 700;
      flex: 0 0 auto; }
      body.single-seasons section.tournament .games .game .score.win {
        background: #BF1E2E; }
      body.single-seasons section.tournament .games .game .score.loss {
        background: #434758; }
    body.single-seasons section.tournament .games .game .type {
      padding-left: 20px;
      color: #aaa;
      font-size: 0.8125em;
      flex: 1; }

body.single-opponents section.page-header {
  padding-bottom: 50px; }

body.single-opponents .games {
  max-width: 640px;
  margin: 0 auto;
  min-height: 30vh; }
  body.single-opponents .games .game {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    font-family: "CircularStd", sans-serif; }
    body.single-opponents .games .game + .game {
      border-top: 1px solid #d9d9d9; }
    body.single-opponents .games .game .date {
      font-size: 0.875em;
      padding-right: 20px;
      font-weight: 500;
      text-align: right;
      flex: 1; }
    body.single-opponents .games .game .score {
      padding: 7px 10px 7px 10px;
      color: #fff;
      text-align: center;
      font-weight: 700;
      flex: 0 0 auto; }
      body.single-opponents .games .game .score.win {
        background: #BF1E2E; }
      body.single-opponents .games .game .score.loss {
        background: #434758; }
    body.single-opponents .games .game .tournament {
      padding-left: 20px;
      color: #aaa;
      font-size: 0.8125em;
      flex: 1; }

body.single-opponents .win-loss {
  text-align: center;
  padding: 50px 0 0 0;
  border-top: 2px solid #1a1a1a;
  max-width: 640px;
  margin: 75px auto 0 auto; }
  body.single-opponents .win-loss h3 {
    letter-spacing: 0.02em;
    font-size: 2em;
    padding: 0 0 10px 0;
    font-weight: 900; }
  body.single-opponents .win-loss h2 {
    text-transform: uppercase;
    letter-spacing: -0.02em;
    font-size: 3.5em;
    font-weight: 400; }
  body.single-opponents .win-loss .note {
    padding: 20px 0 0 0; }
    body.single-opponents .win-loss .note p {
      font-style: italic;
      color: #7B7977; }

body.single-players section.profile section.page-header {
  padding-bottom: 50px; }
  @media screen and (min-width: 768px) {
    body.single-players section.profile section.page-header h1 {
      font-size: 4em; } }
  body.single-players section.profile section.page-header h1 .jersey-number {
    color: #BF1E2E; }
  body.single-players section.profile section.page-header h1 .title {
    padding-top: 10px;
    display: block;
    font-size: 0.4125em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #BF1E2E;
    font-family: "CircularStd", sans-serif; }

body.single-players section.profile section.info .details p {
  font-size: 1.25em;
  line-height: 1.125em; }
  body.single-players section.profile section.info .details p + p {
    padding-top: 25px; }
  body.single-players section.profile section.info .details p strong {
    font-family: "CircularStd", sans-serif;
    font-weight: 900;
    font-size: 1.125em; }

body.single-players section.profile section.info .bio {
  padding-top: 50px; }
  body.single-players section.profile section.info .bio h4 {
    font-family: "CircularStd", sans-serif;
    padding-bottom: 15px; }
  body.single-players section.profile section.info .bio p {
    font-size: 1.25em;
    line-height: 1.5em; }
    body.single-players section.profile section.info .bio p + p {
      padding-top: 25px; }

@media screen and (min-width: 768px) {
  body.single-players section.profile section.info {
    display: flex;
    justify-content: space-between; }
    body.single-players section.profile section.info .details {
      width: calc(33.3333% - 25px); }
    body.single-players section.profile section.info .bio {
      width: calc(66.6666% - 25px);
      padding-top: 0; } }

body.single-players section.profile section.latest-blog {
  padding-top: 50px; }
  @media screen and (min-width: 768px) {
    body.single-players section.profile section.latest-blog {
      padding-top: 100px; } }
  body.single-players section.profile section.latest-blog .posts-header {
    padding-bottom: 15px; }
    body.single-players section.profile section.latest-blog .posts-header h4 {
      font-family: "CircularStd", sans-serif; }
  body.single-players section.profile section.latest-blog .posts-wrapper {
    border: 1px solid #BF1E2E;
    display: flex;
    flex-wrap: wrap; }
  body.single-players section.profile section.latest-blog article {
    width: 100%; }
    body.single-players section.profile section.latest-blog article + article {
      border-top: 1px solid #BF1E2E; }
    @media screen and (min-width: 768px) {
      body.single-players section.profile section.latest-blog article {
        width: 33.3333%; }
        body.single-players section.profile section.latest-blog article + article {
          border-left: 1px solid #BF1E2E;
          border-top: none; }
        body.single-players section.profile section.latest-blog article:nth-last-child(n+1):nth-last-child(-n+1):first-child,
        body.single-players section.profile section.latest-blog article:nth-last-child(n+1):nth-last-child(-n+1):first-child ~ article {
          border-right: 1px solid #BF1E2E; } }
    body.single-players section.profile section.latest-blog article a {
      display: block;
      height: 100%;
      padding: 30px 30px;
      transition: all 0.2s ease-in; }
      body.single-players section.profile section.latest-blog article a:hover {
        background: #BF1E2E; }
        body.single-players section.profile section.latest-blog article a:hover .meta h4,
        body.single-players section.profile section.latest-blog article a:hover .headline h3,
        body.single-players section.profile section.latest-blog article a:hover .author h4,
        body.single-players section.profile section.latest-blog article a:hover .teaser p {
          color: #fff; }
    body.single-players section.profile section.latest-blog article .meta {
      padding-bottom: 10px; }
      body.single-players section.profile section.latest-blog article .meta h4 {
        font-family: "CircularStd", sans-serif;
        text-transform: uppercase;
        font-size: 0.8125em;
        letter-spacing: 0.05em;
        color: #BF1E2E;
        transition: all 0.2s ease-in; }
    body.single-players section.profile section.latest-blog article .headline h3 {
      font-weight: 400;
      font-size: 1.125em;
      line-height: 1.5em;
      transition: all 0.2s ease-in; }
    body.single-players section.profile section.latest-blog article .author {
      padding-top: 10px; }
      body.single-players section.profile section.latest-blog article .author h4 {
        font-family: "CircularStd", sans-serif;
        text-transform: uppercase;
        font-size: 0.8125em;
        letter-spacing: 0.05em;
        color: #7B7977;
        transition: all 0.2s ease-in; }
    body.single-players section.profile section.latest-blog article .teaser {
      padding-top: 25px; }
      body.single-players section.profile section.latest-blog article .teaser p {
        font-size: 1em;
        line-height: 1.5em;
        transition: all 0.2s ease-in; }
  body.single-players section.profile section.latest-blog .more {
    padding-top: 50px;
    text-align: center; }
    body.single-players section.profile section.latest-blog .more a {
      display: inline-block;
      font-family: "CircularStd", sans-serif;
      color: #BF1E2E;
      border-bottom: 2px solid;
      padding-bottom: 2px;
      font-size: 1.25em; }

body.single-players aside.roster-list {
  padding-top: 50px; }
  @media screen and (min-width: 768px) {
    body.single-players aside.roster-list {
      padding-top: 100px; } }
  body.single-players aside.roster-list h4 {
    font-size: 2em;
    padding-bottom: 15px; }
  @media screen and (min-width: 568px) {
    body.single-players aside.roster-list ul {
      -moz-columns: 2;
           columns: 2; } }
  @media screen and (min-width: 768px) {
    body.single-players aside.roster-list ul {
      -moz-columns: 3;
           columns: 3; } }
  @media screen and (min-width: 1024px) {
    body.single-players aside.roster-list ul {
      -moz-columns: 4;
           columns: 4; } }
  body.single-players aside.roster-list ul li {
    padding-bottom: 15px;
    -moz-column-break-inside: avoid;
         break-inside: avoid; }
    body.single-players aside.roster-list ul li a {
      text-decoration: none;
      font-family: "CircularStd", sans-serif;
      color: #1a1a1a;
      border-bottom: 2px solid transparent;
      padding-bottom: 2px;
      -moz-column-break-inside: avoid;
           break-inside: avoid; }
      body.single-players aside.roster-list ul li a .jersey-number {
        color: #BF1E2E; }
      body.single-players aside.roster-list ul li a:hover {
        border-bottom: 2px solid #BF1E2E; }

body.single-post section.page-header {
  padding-bottom: 75px; }
  body.single-post section.page-header .date {
    padding-bottom: 25px; }
    body.single-post section.page-header .date h4 {
      font-family: "CircularStd", sans-serif;
      color: #BF1E2E;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 0.02em; }
  body.single-post section.page-header .headline {
    padding-bottom: 25px; }
  body.single-post section.page-header .author h3 {
    font-size: 1.125em;
    font-weight: 600; }

body.single-post article .wrapper {
  max-width: 720px; }

body.single-post article blockquote {
  border-left: 5px solid #BF1E2E;
  padding: 0 0 0 20px;
  margin: 40px 0 0 20px; }
  body.single-post article blockquote p {
    font-family: "CircularStd", sans-serif; }

body.single-post article .wp-caption {
  width: auto !important; }

body.single-post article img {
  width: auto !important;
  height: auto !important;
  margin-top: 40px; }
  body.single-post article img.aligncenter {
    margin-left: auto;
    margin-right: auto; }

body.single-post article .wp-caption-text {
  padding-top: 10px;
  font-family: "CircularStd", sans-serif;
  font-size: 0.875em;
  color: #7B7977; }

body.post-type-archive-video .page-header {
  padding: 25px 0 50px 0; }
  @media screen and (min-width: 768px) {
    body.post-type-archive-video .page-header {
      padding: 25px 0 100px 0; } }

body.post-type-archive-video .gallery + .gallery {
  padding-top: 200px; }

body.post-type-archive-video .gallery .section-header h2 {
  font-size: 2em;
  font-weight: 400; }

body.post-type-archive-video .gallery .gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px 25px; }
  @media screen and (min-width: 568px) {
    body.post-type-archive-video .gallery .gallery-wrapper {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (min-width: 768px) {
    body.post-type-archive-video .gallery .gallery-wrapper {
      grid-template-columns: repeat(3, 1fr); } }

body.post-type-archive-video .video a {
  display: block; }

body.post-type-archive-video .video .info {
  padding: 10px;
  text-align: center; }
  body.post-type-archive-video .video .info h4 {
    font-size: 1em;
    font-family: "CircularStd", sans-serif;
    font-weight: 500; }
