.social {
	grid-area: social;
	display: flex;
	align-items: center;
	display: none;
	z-index: 101;
    flex: 1;

	@include mobile-landscape {
		display: flex;
	}

	a + a {
		margin-left: 30px;
	}

	a {
		background-position: 0 -24px;
		background-repeat: no-repeat;
		display: block;
		text-indent: -9999px;
		transition: none;
		height: 24px;

		&.facebook {
			background-image: url(images/facebook-sprite.svg);
			width: 13px;
		}

		&.twitter {
			background-image: url(images/twitter-sprite.svg);
			width: 30px;
		}		

		&.instagram {
			background-image: url(images/instagram-sprite.svg);
			width: 24px;
		}

	}
}