section#video-overlay {
	display: none;

	.overlay {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 100000;
		background: rgba(255, 255, 255, 0.9);

		&-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100vh;
			padding: 20px;

			@include tablet-portrait {
				padding: 80px 20px;
			}
		}
	}

	.close {
		position: absolute;
		top: -40px;
		right: 0;
		z-index: 10;

		@include tablet-landscape {
			right: -40px;
		}
		
		.video-close-btn {
		  display: block;
		  width: 36px;

			&:before,
			&:after {
				background-color: $red;
				content: '';
				display: block;
				height: 4px;
				transition: all 200ms ease-in-out;
			}

			&:before {
				box-shadow: 0 0 0 $red;
				transform: translateY(11px) rotate(45deg);
				margin-bottom: 18px;
			}

			&:after {
				transform: translateY(-11px) rotate(-45deg);					
			}
		}
	}

	.info {
		width: 100%;
		max-width: 1200px;
	}

	.video-frame {
		@include aspect-ratio(16, 9);
		box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
		background: $black;
	}
}

body.video-overlay-open {
	overflow: hidden;
}